# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.build/
dist/
build/

# venv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# logs
*.log

# bench outputs
outputs/

# misc
.ipynb_checkpoints/
.env
.env.*
!.env.example
